<div id="content">
    <div id="dotd">
        <h3>Dungball of the day!</h3>
        <app-dungball [dungball]='dotd' [loggedinbeetle]="null"></app-dungball>
    </div>
    <br>
    <div id="loginregistration">
        <div id="login">
            <table>
                <form #loginForm="ngForm" (submit)='onLogin()' novalidate>
                    <tr>
                        <td>Email</td>
                        <td>
                            <input type="email" name="email" [(ngModel)]='login_beetle.email' #email="ngModel" required>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" name="password" [(ngModel)]='login_beetle.password' #password="ngModel" required>
                        </td>
                    </tr>
                    <tr *ngIf="loginerrors" id="bered">
                        <td colspan="2">
                            Invalid Credentials
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Login">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
        <div id="registration">
            <table>
                <form #registerForm="ngForm" (submit)='onRegister()' novalidate>
                    <tr>
                        <td [ngClass]="{'bered': name.errors && name.dirty, 'begreen': name.valid}">*Name</td>
                        <td>
                            <input type="text" name="name" [(ngModel)]="register_beetle.name" #name="ngModel" required>
                        </td>
                    </tr>
                    <tr>
                        <td [ngClass]="{'bered': email.errors && email.dirty, 'begreen': email.valid}">*Email</td>
                        <td>
                            <input type="email" name="email" [(ngModel)]="register_beetle.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                required>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;Shell Color</td>
                        <td>
                            <input type="color" name="color" [(ngModel)]="register_beetle.color" #color="ngModel" style="width: 96%;" required>
                        </td>
                    </tr>
                    <tr>
                        <td [ngClass]="{'bered': password.errors && password.dirty, 'begreen': password.valid}">*Password</td>
                        <td>
                            <input [attr.type]="password_state" name="password" [(ngModel)]="register_beetle.password" #password="ngModel" minlength="8"
                                maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                        </td>
                    </tr>
                    <tr style="font-size: 12px;">
                        <td colspan="2">
                            must contain uppercase letter, lowercase letter, number
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" (click)="showPassword()">show/hide password</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" id="indicates">
                            * indicates a required field
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Register" [disabled]="!registerForm.form.valid">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>