<div id="content">
    <div id="dotd">
        <h3>Dungball of the day!</h3>
        <app-dungball></app-dungball>
    </div>
    <br>
    <div id="loginregistration">
        <div id="login">
            <table>
                <form action="">
                    <tr>
                        <td>*Email</td>
                        <td>
                            <input type="email">
                        </td>
                    </tr>
                    <tr>
                        <td>*Password</td>
                        <td>
                            <input type="password">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            errors
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Login">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
        <div id="registration">
            <table>
                <form action="">
                    <tr>
                        <td>*Name</td>
                        <td>
                            <input type="text" name="text">
                        </td>
                    </tr>
                    <tr>
                        <td>*Email</td>
                        <td>
                            <input type="email">
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;Shell Color</td>
                        <td>
                            <input type="color" name="hexcolor" value="#000000" style="width: 96%;">
                        </td>
                    </tr>
                    <tr>
                        <td>*Password</td>
                        <td>
                            <input type="password">
                        </td>
                    </tr>
                    <tr>
                        <td>*Confirm Password</td>
                        <td>
                            <input type="password">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Register">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>